<%- include('../partials/userheader') -%>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <table class="table table-cart table-mobile">
        <thead>
          <tr>
            <th>  </th>
            <th>  </th>
          </tr>
        </thead>
        <tbody>
          <% if (orders && orders.product) { %>
            <% for (let i = 0; i < orders.product.length; i++) { %>
              <tr>
                <td class="product-col">
                  <div class="product">
                    <figure class="product-media">
                      <a href="#">
                        <% if (orders.product[i].productId.image) { %>
                          <img src="upload/<%= orders.product[i].productId.image[0] %>" alt="Product image">
                        <% } else { %>
                          <img src="upload/img.webp" alt="Default Image" class="product-image" />
                        <% } %>
                      </a>
                    </figure>
                    
                    <h3 class="product-title">
                      
                      <a href="#"><%= orders.product[i].productId.name %></a>
                     
                    </h3>
                  </div>
                </td>
                <td class="quantity-col">
                  <div class="cart-product-quantity" style="padding: 25px;
                  font-size: medium;">
                    <%= orders.product[i].quantity %>
                  </div>
                </td>
                <td class="quantity-col">
                  <div class="cart-product-quantity" style="padding: 25px;
                  font-size: medium;">
                   <%= orders.product[i].productPrice %>
                  </div>
                </td>
              </tr>
              
            <% } %>
          <% } else { %>
            <!-- Handle the case when 'order' or 'order.product' is undefined or empty -->
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <h4 class="mt-5">Your Order is on the way</h4>
      <h2 class="mt-4">Order Details</h2>
      <p><strong>Order ID:</strong> <%= orders._id %></p>
      <p><strong>Payment Method:</strong> <%= orders.paymentMethod %></p>
      <h2><strong>Amount Paid:</strong> ₹ <%= orders.totalAmount %></h2><br>
    
      <a href="/dashboard" style="text-decoration: none;"><button type="submit" class="btn btn-outline-primary-2" style="border: 1px solid black;">BACK</button></a>
    </div>
  

  </div>
  <!-- Rest of your success page content -->
  <div>
  
  </div>
  <div class="alert alert-success mt-4">
    Thank you for purchasing! Your order is placed.
  </div>
</div>


<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<%- include('../partials/userfooter') -%>
